.botaoPrimario{
    font-family: $menuBotoes;
    background: $botaoPrimario;
    color: #000;
    padding: 5px 5px;
    font-size: 1.3rem;
    margin-top: 20px;

    &:hover{
        background: darken($botaoPrimario, 10%);
        color: #ffff;
        text-decoration: none;
    }
}

    .botaoSecundario{
        font-family: $menuBotoes;
        background: $botaoSecundario;
        color: white;
        padding: 5px 5px;
        font-size: 1.3rem;
        margin-top: 20px;
        &:hover{
            background: darken($botaoSecundario, 10%);
            color: black;
            text-decoration: none;
        }
    }
