#menuTopo{
    ul{
        font-family: $paragrafos;
        color: $laranjaMenu;
        font-size: 1rem;
        text-align: center;
    }

    li{
        display: inline-block;
        text-align: center;

            a{
                background: $laranjaMenu;
                padding: 5px 30px;
                display: block;
                color: #000000;
                text-decoration: none;
            }
            &:hover{
                    background: lighten($laranjaMenu, 10%);
                    color: #ffff;
                    text-decoration: none;
            }

    }
}

p{
    font-family: $paragrafos;
    font-size: 1.5rem;
}